{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block javascript %}
    <script>
        $("#id_username").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: form.attr("data-validate-username-url"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                        document.getElementById("id_username").value = "";
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Zarejestruj się!</h1>
            <form method="post" data-validate-username-url="{% url 'validate_username' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Sign up</button>
                <a class="btn btn-primary" href="{% url 'home' %}">Back</a>
            </form>
        </div>
    </div>

{% endblock %}